Repository georgijspi/mirai-gh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-test, frontend-test

Remove coverageThreshold configuration from package.json
  src/frontend/mirai-ui/package.json
Due: frontend-test

feature/backend-testing - removed searxng reference as it is an external docker service
  src/backend/tests/unit/test_search_service.py
Due: backend-test

Add new directory: added coverage
  src/frontend/mirai-ui/coverage/.gitkeep
Due: none

Update package dependencies and test coverage configuration
  src/frontend/mirai-ui/package-lock.json
  src/frontend/mirai-ui/package.json
Due: frontend-test

feature/testing-backend - added tests for llm, agent
  src/backend/api/database.py
  src/backend/tests/__init__.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/__init__.py
  src/backend/tests/unit/__init__.py
  src/backend/tests/unit/test_agent_service.py
  src/backend/tests/unit/test_conversation_service.py
  src/backend/tests/unit/test_llm_service.py
  src/backend/tests/unit/test_nlp_service.py
  src/backend/tests/unit/test_prompt_builder.py
  src/backend/tests/unit/test_rag_service.py
  src/backend/tests/unit/test_search_service.py
Due: backend-test

bugfix/tts-processing - minor ui improvements, added mock landing page
  src/backend/api/routers/statistics.py
  src/backend/api/services/statistics_service.py
  src/backend/docker/docker-compose.yml
  src/backend/ttsModule/ttsModule.py
  src/frontend/mirai-ui/package-lock.json
  src/frontend/mirai-ui/package.json
  src/frontend/mirai-ui/src/App.js
  src/frontend/mirai-ui/src/components/Settings.js
  src/frontend/mirai-ui/src/components/conversation/ConversationDetail.js
  src/frontend/mirai-ui/src/components/conversation/Conversations.js
  src/frontend/mirai-ui/src/pages/LandingPage.js
  src/frontend/mirai-ui/src/pages/SettingsPage.js
  src/frontend/mirai-ui/src/pages/Statistics.js
  src/frontend/mirai-ui/src/services/statisticsService.js
Due: backend-test, frontend-test

Upload MirAI Technical Guide
  docs/documentation/MirAI_Technical_Guide.pdf
Due: none

Upload MirAI Techical Guide.docx
  docs/documentation/MirAI_Technical_Guide.docx
Due: none

fixes to global chat not showing
  src/frontend/mirai-ui/src/App.js
  src/frontend/mirai-ui/src/components/GlobalChat.js
  src/frontend/mirai-ui/src/components/Navigation.js
  src/frontend/mirai-ui/src/services/globalConversationService.js
Due: frontend-test

Upload MirAI_UserManual.docx
  docs/documentation/MirAI_UserManual.docx
Due: none

Upload MirAI_UserManual.pdf
  docs/documentation/MirAI_UserManual.pdf
Due: none

update UserManual - added supervisor & team member's information
  docs/documentation/MirAI_UserManual.docx
  docs/documentation/MirAI_UserManual.pdf
Due: none

bugfix: modify npm start script
  src/frontend/mirai-ui/package.json
Due: frontend-test

bug fix: -update default wakeword -upload custom wakeword
  .gitignore
  src/backend/api/services/file_storage_service.py
  src/frontend/mirai-ui/src/components/agent/AgentConfiguration.js
  src/frontend/mirai-ui/src/components/agent/AgentForm.js
  src/frontend/mirai-ui/src/components/conversation/ConversationVoice.js
Due: backend-test, frontend-test

Update favicon and change page title to 'MirAI - Local Smart Assistant'
  src/frontend/mirai-ui/public/favicon.ico
  src/frontend/mirai-ui/public/index.html
Due: none

bugfix: add new agent form default to use dafult built in wakeword
  src/frontend/mirai-ui/src/components/agent/AgentConfiguration.js
Due: frontend-test

Updated readme for gh
  README.md
  docs/video-walk-through/README.md
Due: none

Updated readme for gh
  README.md
Due: none

Path conditions:
  backend-test: any of: src/backend/**/*.py
  frontend-test: any of: src/frontend/mirai-ui/src/**/*, src/frontend/mirai-ui/package.json, src/frontend/mirai-ui/package-lock.json
